/*
Color pallette:
#eee2dd = white
#30151a = darkred
#881e24 = winered
#ee8599 = pink
#71a2ba = lightblue
#ab644b = brown

*/

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0em;
    margin: 0em;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.cat {
    border: 3px solid ;
}

.item {
    border: 1px solid;
}