/*
Color palette:
#eee2dd = white
#30151a = darkred
#881e24 = winered
#ee8599 = pink
#71a2ba = lightblue
#ab644b = brown

*/

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0em;
    margin: 0em;
    font-family: 'Calibri';
    font-size: 8pt;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

/* --------------------  end styling reset ------------- */

/* --------------------  Background Hexagon ------------ */

.hexagon {
    position: relative;
    width: 1000px;
    height: 577.35px;
    background-color: #ffffff;
    margin: 300px auto;
    border-left: solid 5px #333333;
    border-right: solid 5px #333333;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 707.11px;
    height: 707.11px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 141.4466px;
}

.hexagon:before {
    top: -353.5534px;
    border-top: solid 7.0711px #333333;
    border-right: solid 7.0711px #333333;
}

.hexagon:after {
    bottom: -353.5534px;
    border-bottom: solid 7.0711px #333333;
    border-left: solid 7.0711px #333333;
}

/* --------------------  Background Hexagon ------------ */
/* --------------------  categories Hexagon ------------ */
.cat-hexagon {
    position: relative;
    width: 300px;
    height: 173.21px;
    background-color: #ffffff;
    margin: 86.60px 0;
    border-left: solid 5px #333333;
    border-right: solid 5px #333333;
}

.cat-hexagon:before,
.cat-hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 212.13px;
    height: 212.13px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 38.9340px;
}

.cat-hexagon:before {
    top: -106.0660px;
    border-top: solid 7.0711px #333333;
    border-right: solid 7.0711px #333333;
}

.cat-hexagon:after {
    bottom: -106.0660px;
    border-bottom: solid 7.0711px #333333;
    border-left: solid 7.0711px #333333;
}

.item {
    border: 1px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* .item.plant {
    left: ;
} navragen hoe ik dit kan doen */

.plants .dot {
    background-color: #71a2ba;
}

.animal .dot {
    background-color: #ab644b;
}

.microbial .dot {
    background-color: #881e24;
}

.inorganic .dot {
    background-color: #ee8599;
}

.chemical_compounds .dot {
    background-color: #eee2dd;
    border: 1px solid black;

}

.petrol-based .dot {
    background-color: #3a6478;

}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 25px;
    background-color: black;
    margin-right: 10px;
}