/*
Color pallette:
#eee2dd
#30151a
#881e24
#ee8599
#71a2ba
#ab644b

*/

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0em;
    margin: 0em;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.show {
    display: block;
}